.main-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 12px 0;
}

.error {
  background-color: red;
  color: white;
}

.container {
  padding: 20px;
  border: 5px solid black;
}

[data-theme="dark"] {
  background-color: darkgray;
  color: white;
}

[data-theme="light"] {
  background-color: white;
  color: black;
}

.post {
  padding: 20px;
  background-color: lightgray;
  max-width: 500px;
  border: 5px solid black;
  border-radius: 10px;
  margin: 10px;
}

.post-title,
.post-subtitle {
  margin-bottom: 12px;
}

.post-title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.post-subtitle {
  font-size: 1.5rem;
  text-align: right;
}

.post-text {
  text-align: justify;
}