.main-heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 12px 0;
}

.error {
  background-color: red;
  color: white;
}

.container {
  padding: 20px;
  border: 5px solid black;
}

[data-theme="dark"] {
  background-color: darkgray;
  color: white;
}

[data-theme="light"] {
  background-color: white;
  color: black;
}
